@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Inter:wght@400;500;700&display=swap");

.logo {
  font-family: "Gochi Hand", cursive !important;
}

main {
  font-family: "Inter", sans-serif;
  line-height: 26px;
  color: #121212;
}

main a {
  color: #121212;
  font-weight: 600;
  text-decoration: none;
}

h1 {
  color: #121212;
}

p {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}
